In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import warnings
warnings.filterwarnings('ignore')

For the sake of practice, it is assumed that the your company has only three assets, which subject to market risk. These assets are:

    * JP Morgan
    * Bank of America
    * Morgan Stanley

So, your portfolio consists of these three stocks.

In [2]:
tickers = ['JPM', 'BAC', 'MS']
stock_prices = yf.download(tickers, start='2021-10-01', 
                           end='2022-02-01', interval='1d')['Close']

[*********************100%***********************]  3 of 3 completed

Let's observe the first five rows of the data.

In [3]:
stock_prices.head()

                  BAC         JPM         MS
Date
2021-09-30  42.450001  163.690002  97.309998
2021-10-01  43.080002  167.130005  99.050003
2021-10-04  43.340000  166.949997  97.150002
2021-10-05  44.220001  168.660004  99.199997
2021-10-06  44.240002  169.020004  99.099998

The summary statistics below indicates that you have 85 observations and `JPM` has highest stock price and standard deviation. Whereas `BAC` has the lowest stock price and standard deviation. This information gives us a initial clue about the risk-return schema of the stocks.

In [4]:
stock_prices.describe()

             BAC         JPM          MS
count  85.000000   85.000000   85.000000
mean   45.848353  162.378589   99.904942
std     1.696818    7.144734    2.385132
min    42.450001  144.949997   94.010002
25%    44.419998  158.350006   98.300003
50%    45.869999  163.779999   99.830002
75%    47.230000  167.830002  101.750000
max    49.209999  171.779999  105.919998

Let us know compute the stock returns using `log-return` formula. Please note that when you compute the stock return first observation in the original data becomes `NaN`, so you need to drop it using `dropna()`.

In [5]:
stocks_returns = (np.log(stock_prices) - np.log(stock_prices.shift(1))).dropna()
stocks_returns

                 BAC       JPM        MS
Date
2021-10-01  0.014732  0.020798  0.017723
2021-10-04  0.006017 -0.001078 -0.019369
2021-10-05  0.020101  0.010191  0.020882
2021-10-06  0.000452  0.002132 -0.001009
2021-10-07 -0.002716  0.006311 -0.003032
...              ...       ...       ...
2022-01-25  0.019561  0.010841  0.009740
2022-01-26  0.010292  0.009441  0.011345
2022-01-27 -0.009412 -0.017802  0.009736
2022-01-28  0.008758  0.008907  0.006406
2022-01-31  0.005869  0.013482  0.007243

[84 rows x 3 columns]

The value of the asset that is exposed to market risk is assumed to be 1 million USD and confidence level is 95%. Also, your company holds the assets for 5 days.

In [6]:
total_asset = 1e6
conf_level = 0.95
t = 5

As you have 3 assets in the portfolio, you need to assign weights. Let's randomly assign weights to these assets but please be careful as the sum of weights should be 1.

In [7]:
weights  = np.random.random(len(stocks_returns.columns))
weights /= np.sum(weights)
weights

array([0.47770604, 0.27691776, 0.2453762 ])

Now, we have obtained the weights.